<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Application | @ViewBag.Title</title>
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <div><a href="/Home/Index">Home</a> | <a href="/Home/AboutUs">About</a> | <a href="/Home/Info">Info</a></div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
